---
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { count, eq, desc } from "drizzle-orm";
import { db } from "../../../lib/drizzle";
import * as schema from "../../../lib/schema";

dayjs.extend(duration);
dayjs.extend(relativeTime);
dayjs.extend(localizedFormat);

export const partial = true;

const session = await Astro.locals.auth.validate();
const user_id = session.user.userId;

// get current page number (for pagination)
const page_num = Number.parseInt(Astro.url.searchParams.get("page") as string);

// get entry count
const response = await db.select({ value: count() })
  .from(schema.entry)
  .where(eq(schema.entry.userId, user_id));

const entry_count = response[0].value;

const entries = await db.query.entry.findMany({
  where: eq(schema.entry.userId, user_id),
  orderBy: desc(schema.entry.start_time),
  limit: 10,
  offset: (page_num - 1) * 10,
});
---
<section 
  id="entry_table"
  hx-trigger="reloadTable from:body"
  hx-post={`/partials/entry-duration/base?page=${page_num}`}
  hx-swap="outerHTML"
>
  <table class="table table-fixed border-separate border border-slate-500 w-full">
    <thead class="table-header-group">
      <tr class="table-row">
        <th>Description</th>
        <th>Duration</th>
        <th>Start</th>
        <th>End</th>
        <th>Billable Rate</th>
        <th>Project</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="table-row-group">
      { entries.map((e) => (
        <tr id={`row_${e.id}`} class="table-row">
          <input name={`entry_${e.id}`} type="hidden" value={JSON.stringify(e)} />
          <td>{e.description}</td>
          <td>{e.duration ? dayjs.duration(e.duration, "milliseconds").humanize() : "In progress"}</td>
          <td>{dayjs(e.start_time).format('LTS')}</td>
          <td>{e.end_time ? dayjs(e.end_time).format('LTS') : "N/A"}</td>
          <td>${e.billable_rate}</td>
          <td>
          {
            db.query.project
              .findFirst({ where: eq(schema.project.id, e.projectId) })
              .then((p) => p ? p?.name : "N/A")
          }
          </td>
          <td>
            <button
              hx-trigger="click"
              hx-post={`/partials/entry-table/edit-row?id=${e.id}`}
              hx-include={`[name='entry_${e.id}']`}
              hx-target={`#row_${e.id}`}
              hx-swap="outerHTML"
            >
              Edit
            </button>
          </td>
        </tr>
      ))}
    </tbody>
  </table>

  <div class="flex gap-4 items-center">
    <button
      hx-trigger="click"
      hx-post={`/partials/entry-table/base?page=${page_num - 1}`}
      hx-target="#entry_table"
      hx-swap="outerHTML"
      disabled={page_num === 1}
      class="px-2 py-1 border disabled:cursor-not-allowed"
    >
      {"<"}
    </button>
    <p>{page_num}</p>
    <button
      hx-trigger="click"
      hx-post={`/partials/entry-table/base?page=${page_num + 1}`}
      hx-target="#entry_table"
      hx-swap="outerHTML"
      disabled={(page_num * 10) > entry_count}
      class="px-2 py-1 border disabled:cursor-not-allowed"
    >
      {">"}
    </button>
  </div>
</section>
