---
import { eq } from "drizzle-orm";
import { db } from "../../../lib/drizzle";
import * as schema from "../../../lib/schema";

export const partial = true;
const user = Astro.locals.user;
const user_id = user.id;

const entry_id = Astro.url.searchParams.get("id") as string;
const data = await Astro.request.formData();
const entry = JSON.parse(data.get(`entry_${entry_id}`) as string);

const projects = await db.query.project.findMany({
  where: eq(schema.project.userId, user_id)
});
---

<tr id={`row_${entry_id}`}>
  <td>
    <input name={`description_${entry.id}`} value={entry.description} />
  </td>
  <td>Editing...</td>
  <td>
    <input name={`start_${entry.id}`} type="datetime-local" value={new Date(new Date(entry.start_time).getTime() + new Date().getTimezoneOffset() * -60 * 1000).toISOString().slice(0,19)} />
  </td>
  <td>
    <input name={`end_${entry.id}`} type="datetime-local" value={entry.end_time ? (new Date(new Date(entry.end_time).getTime() + new Date().getTimezoneOffset() * -60 * 1000).toISOString().slice(0,19)) : null} />
  </td>
  <td>
    <input name={`billable_${entry.id}`} type="number" value={entry.billable_rate} />
  </td>
  <td>
    <select name={`project_${entry.id}`}>
      <option value="">- none -</option>
      {
        projects.map((p) => (
          <option value={p.id} selected={entry.projectId && (p.id === entry.projectId)}>{p.name}</option>
        ))
      }
    </select>
  </td>
  <td>
    <button
      hx-trigger="click"
      hx-post={`/partials/entry-table/row?id=${entry_id}`}
      hx-include={`[name='description_${entry.id}'], [name='start_${entry.id}'], [name='end_${entry.id}'], [name='billable_${entry.id}'], [name='project_${entry.id}']`}
      hx-target={`#row_${entry_id}`}
      hx-swap="outerHTML"
    >
      Done
    </button>
  </td>
</tr>

